.container{
    display: grid;
    grid-template-columns: repeat(16, 82px);
    grid-template-rows: repeat(16, 42px);
    grid-gap: 6px;
    /* align-items: center; */

}
.subs {
    border: solid;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}